name: go

on: [pull_request]

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: go mod tidy -diff
      - run: go vet ./...
      - uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --timeout=10m
      - uses: dominikh/staticcheck-action@v1
        with:
          install-go: false
      - run: go fix -diff ./... | awk '{print} /\S/ {found=1} END {if (found) exit 1}'
      - uses: golang/govulncheck-action@v1
        with:
          repo-checkout: false
          cache: false
  spell-check:
    name: spell-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@v1.44.0
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: make test
