name: go

on: [pull_request]

env:
  GOPRIVATE: github.com/ninech/apis
  GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/
      - run: go mod tidy -diff
      - run: go vet ./...
      - uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --timeout=10m
      - uses: dominikh/staticcheck-action@v1
        with:
          install-go: false
      - run: go fix -diff ./... | awk '{print} /\S/ {found=1} END {if (found) exit 1}'
  spell-check:
    name: spell-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@v1.43.5
  test:
    name: test
    container: ninech/controller-test-image:latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/
      - run: make test
