name: go

on: [pull_request]

env:
  GOPRIVATE: github.com/ninech/apis
  GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.54
          args: --timeout=10m
      - uses: dominikh/staticcheck-action@v1
        with:
          version: latest
          install-go: false
  test:
    name: test
    container: ninech/controller-test-image:latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/
      - name: Get dependencies
        run: go get -v -t -d ./...
      - name: Test
        run: go test -v ./...
